*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
}
html{
    font-family: 'Oswald', sans-serif;
}
/*Navbar Section */
#navbar{
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.5rem;
}
#navbar ul li a:hover{
    background: rgb(0, 191, 255);
    border-radius: 4px;
}
/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey;
}
#home img{
    max-width: 100%;
    width: 300px;
    height: 300px;  
    object-fit: cover;  
    object-position: top;
    border-radius: 100%;    
    }
#home .name{
    text-align: center;
}
#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}
/* training */
#training{
    color: #fff;
    padding: 1rem;
}
#training .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#training .items .item{
width: 33%;
text-align: center;
padding: 0.5rem;
}
#training .items .item:hover{
    color:rgb(147, 246, 203);
    opacity: 0.6;
}
/* Courses */

#courses{
    color: #333;
    padding: 1rem;
    margin: 2px;
    letter-spacing: 1px;
    
}
#courses {
    display: flex;
    flex-direction: column;       
    padding: 0.9rem;
}
.courses .course{
    display: flex;
}
.courses{    
    padding: 0.1rem;
    margin-bottom: 0.1rem;
    padding-top: 3%;    
}
.courses .course .course-image{
    margin-right: 0.5rem;
    position: relative;
    padding-top: 5%;  
    padding-bottom: -5%;  
    
}
.courses .course .course-image img{
    border-radius: 10px;
    
}
.courses .course .course-image span{
    background: red;
    padding: 0.25rem;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top:40px;
    left:0;
}
.courses .course .course-info .title{
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-bottom: 0.25rem;
    padding-top: 7%;
    text-align: center;
}
.courses .course .course-info .description{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.3;    
    color: grey;
}
.courses .course .course-info .instructor{
    font-size: 0.8rem;
    margin-bottom: 0.15rem;
    opacity: 0.3;
    color: grey;
}
.courses .course .course-info .rating{
    font-size: 0.8rem;
    margin-bottom: 0.15rem;
    opacity: 0.3;
}
/* Contact */
#contact{
    color:#fff;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;  
    margin-left: 250px;
    
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
    
}
#contact .contact-form ul li a:hover{   
    opacity: 0.5;
}
