*{
    margin:0px;
    padding:0px;
    }

.navbar {
    backdrop-filter: blur(30px);
}
#sayfa1{
 margin-top: 70px;
}

#foto1{
    width: 100%;
    
}
.foto-1{
    width: 100%;
    
}
.kart{
    background-color: #fff;
    width: 50px;
    height: 150px;
    border-radius: 10%;
    margin: 0.9rem;
    text-align: center;
    align-items: center;
    color: black;
}
#cont h5{
    margin-top: 4%;
}
#analiz h3{
    width: 20%;
}

.kart p{
    text-align: center;
    margin-top: 5px;
}
.col h2{
    width: 35%;
}

.circle-icon {
    background: #358DFE;
    padding: 15px;
    margin-top: 15px;
    border-radius: 100%;
    text-align: center;
}
#kartlar{
    margin-top: 10%;
}
#ok1{
    width: 60%;
    float: right;
}
.sayfa3{
    text-align: center;
}
#kart1{
    float: left;
    margin-top: -6%;
    height: 10%;
        
}
#kart1 h6{
    margin-top: 3%;
    font-size: larger;
}
#kart2{
    height:0px;
    margin-right: 1%;
}
#kart2 h6{
    margin-top: 1%;
    font-size: larger;
}
#kart3{
    float: right;
    margin-top: -6%;
    height: 10%;    
}
#kart3 h6{
    margin-top: 3%;
    font-size: larger;
}
#kart1 .circle-icon{
    background: #358DFE;
    padding: 25px;
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
}
#kart2 .circle-icon{
    background: #358DFE;
    padding: 25px;
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
}

#kart3 .circle-icon{
    background: #358DFE;
    padding: 25px;
    margin-top: 15px;
    border-radius: 50%;
    text-align: center;
}
#deneyim h1{
    margin-top: 5%
}
#deneyim img{
    width: 12%;
    margin-left: 35%;
    margin-right: 50%;
}
#biruc .circle-icon{
    background: #020151;
    color: white;
    padding: 10px;    
    border-radius: 40%;
    text-align: center;
    float: left;
}

#text{
    float: left;
    text-align: left; 
    margin-top: -10%;    
}
#text h3{
    text-align: left; 
    margin-left: -0%;
}
#text p{
    margin-left: -0%;
}
#biruc{
padding-bottom: 16%;
margin-left: 0%;
}
.analiz img{
   
    width: 65%;
   
}
.analiz2 img{
    margin-left: -4%;
    width: 45%;      
}
#text2{
    float: right;
    text-align: right;
    margin-top: -35%;
}
.biructext .circle-icon{
    background: #020151;
    color: white;
    padding: 10px;    
    
    text-align: center;
    
}
.ikiuctext .circle-icon{
    background: #020151;
    color: white;
    padding: 10px;    
    
    text-align: center;
   
}
.ucuctext .circle-icon{
    background: #020151;
    color: white;
    padding: 10px;   
    
    
    text-align: center;
    
   
}
.ucuctext{
    margin-bottom: 7%;
}

.sag .circle-icon{
    background: #020151;
    color: white;
    
    padding: 10px;    
    border-radius: 40%;
    text-align: center;
    
}
.sag h5{
margin-top: 5%;
}
.sol h5{
    margin-top: 5%;
    }
.sol .circle-icon{
    background: #020151;
    color: white;
    padding: 10px;    
    border-radius: 40%;
    text-align: center;
}
.takvimsag .circle-icon{
    padding: 3%;    
}
.takvimsol .circle-icon{
    padding: 3%;
}
#ucucuc{
    margin-bottom: 5%;
}
#ucucuc h3{
    margin-top: 3%;
}
#foto1{
    float: right;
    margin: auto;    
    display: block;     
}

#foto1 img{
    margin-left: 30%;
}
.foto-1{
    float: right;
    margin: auto;    
    display: block;     
}

.foto-1 img{
    margin-left: 30%;
}
.foto2{
    float: right;
    margin: auto;    
    display: block;    
}
.foto2 img{
    margin-right: 35%;
}
.foto3{
    float: right;
    margin: auto;    
    display: block;   
}
.foto3 img{
    margin-left: 45%;
}

.ikiuctext{
    margin-top: 1%;
    float: end;
}
.ikiuctext p{
    margin-left: 15%;
}
.analiz3 img{
    float: right;
    width: 25%;
    margin-top: -29%;
    margin-right: 7%; 
    height: auto;
}


#text4{
    margin-top: 40%;
    text-align: left;      
    flex-direction: column;
    justify-content: space-between; 
}
#text5{
    text-align: left;    
}

.baş img{       
    margin-left: 40%;
    width: 17%;
}

#ok img{
    margin-left: 40%;  
    margin-top: -2%;  
    width: 30%;
}

#blog{
   margin-top: 3%;
   margin-bottom: 3%;
}
#blog img{
    width: 5%;    
    margin-bottom: 1%;
    height: auto;    
}
#blogbaslik{
    text-align: center;
}
.blog2container{
    width: 300px;
    height: 300px;
    position: relative;
}


.blog2 img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   display: block;
   

}
.resimyazi{
    margin-top: -15%;
    margin-left: 6%;
    color: white;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  #kampanya img{
    width: 12%;
    left: 50%;
    right: 50%;
    margin-bottom: 1%;
  }
  #kampanya{
    text-align: center;
  }
  .kahve img{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;    
     height: auto;     
  }
  .kahve hr{
    padding-top: 1%;
    margin: -0%;
  }
  .okuzun img{
    width: 500px;
    margin-left: 350px;
    margin-top: -75%;
    
  }
 
 #iletisim a{
    text-decoration:none;
 }
  #son{
    margin: 5%;
  }
  .son1 img{
    width: 60%;
  }
  .son2{         
     line-height: 70%; 
  }
  .son3{
    line-height: 70%;
  }
  .son4{
    line-height: 70%;    
  }
 
.gradient-deneme{
    width: 100%;    
    display: grid;
    place-items: center;
    margin-left: 10%;
}
  .gradient-deneme img{
    max-width: 100%;
}
.gradient-overlay{
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 81.1%;
        height: 100%;
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgb(0, 149, 255));
        opacity: 0.5;
    }
}
  .kartlar{
   position: inherit;
   text-align: center;
   
  }
  #kartlar2{
    margin-top: 5%;
  }
  .kartlar img{
    text-align: center;
    width: 5%;   
    left: 50%;
    right: 50%;
  }
  .sonyazi{
    text-align: center;
  } 
.btn-primary{
    --bs-btn-border-radius: 1rem;
}
.btn-outline-primary{
    --bs-btn-border-radius: 1rem;
}
.card{
    background-color: red;
  }
  @media screen and (max-width: 539px){
   .blog2{
    margin-top: 5%;
    padding-left: 10%;
   }
   #okuzun{
    padding-top: 0px;
    padding-right: 25px;
   }
  }
  @media screen and(max-width:600px){
   
  }
  @media screen and (max-width: 471px){
   .col23{
   margin-left: 30%;
   }
   .col25{
    margin-left: 30%;
   }
   .okuzun{
    width: 0%;
    
   }
   
   
   }
   @media screen and (max-width:323px){
    .col23{
    margin-left: 0;
    }
   .col25{
     margin-left: 0%;
    }
    
    .blog2 img{
        width: 50%;
    }
    #analiz img{
        width: 0;
    }
   
    }
  @media screen and (max-width:560px){
    #kahve img{
        margin-bottom: -1.5%;
    }
    .foto2{
        width: 0;
    }
    .foto-1{
        width: 0;
    }
    .foto3{
        width: 0;
    }
    #blog img{
        width: 0%;

    }
  }
  @media screen and (max-width:425px){
 .blog2{
    margin: 3%;
 }

 
  }
  @media screen and (max-width: 869px){
    #nekatacak{
        margin: 1.5%;
    }
    #kart2{
        margin-left: 3.5%;
    }
    #blog{
       margin-top: 5%
    }
    #ok{
        margin-bottom: -5%;
    }
    #ok img{
        padding-left: 5%;
    }
    #ok .card-body{
        margin-right: -10%;
    }
    #ok1 img{
        margin-top: -15%;
    }
    #kahve img{
        margin-bottom: 1.5%;
    }
  }
  @media screen and (max-width: 769px){
    
    #kart2{
        margin-top: -3%;
        margin-left: -15%;
    }
    .analiz3 img{
        margin-right: 5%;
        margin-top: -35%;
    }
    #ok img{
        margin-top: -3%;
    }
    .takvimsol{
        width: 0%;
    }
    #blog{
        width: 90%;
    }
    
    #kampanya img{
        width: 0;
    }
   
    
  }
  @media screen and (max-width: 767px){
   
    #text{
        margin-bottom: 10%;
        text-align: left;
    }
    #text h3{
        text-align: left;
    }
    #text2{
        margin-top: 10%;
        float: right;
    }
    #ucucuc{
        margin-bottom: 1%;
    }
    .analiz2 img{
        margin-left: -20%;
    }
    .analiz img{
        margin-top: -2%;
        margin-left: -2%;
        width: 20%;
    }
    #deneyim h1{
        font-size:x-large;
    }
    #blog{
        margin-left: 5%;
    }
    .kart{
        width: 35%;
    }
  
    #kahve img{
        margin-bottom: -5%;
    }
    .okuzun img{
        margin-top: -160px;
        padding-left: 70%;
        width: 250%;
        
    }
  
  }
  @media screen and (max-width: 799px){
    #ok img{
        width: 25%;
    }
    .takvimsol{
        margin-left: 15%;
        margin-top: -18%;
    }
    .takvimsag{
        margin-right: 5%;
    }
    #blog{
        margin-top: 8%;
        margin-bottom: 6%;
    }
    #kampanya{
        margin-top: 8%;
        margin-bottom: 10%;
    }
    #nekatacak{
        width: 100%;
    }
    #kart1{
        margin-top: 45%;
        margin-left: -35%;
        
    }
    #kart2{
        margin-right: 30%;
    }
    #kart3{
        margin-top: 100%;
        padding-left: 30%;
    }
    #kahve img{
        margin-bottom: -4%;
    }
  }
  @media screen and (max-width: 1089px){
    #kahve img{
        margin-bottom: -1.5%;
    }
    #ok img{
        margin-left: 45%
    }
  }
  @media screen and (max-width: 991px){
    .son3{
        line-height: 100%;
    }
    .son2{
        line-height: 100%;
    }
   .son1 img{
        width: 75%;
    }
    #text3{
        margin-top: 2%;
    }
    .analiz2{
        margin-bottom: -10%;
    }
    .analiz3 img{
        margin-top: -30%;    
    }
    .analiz2 img{
        margin-bottom: 8%;
    }
    #text2{
        margin-top: -45%;
    }
    #kart1{
        margin-left: -10%;
    }
    #kart3{
        margin-right: -10%;
    }
    .kart{
        height: 200px;
    }
    #kahve img{
        margin-bottom: -1.75%;
    }
    #takvimsol{
        margin-top: 100%;
    }
    #ok1 {
        width: 95%;
        margin-top: 20%;
    }
    .okuzun img{
        margin-left: 50%;
        margin-right: 50%;
    }
   
   .blog2 img{
    width: 150px;
    height: 150px;
   }
   .resimyazi{
    margin-top: -20%;
   }
   .foto2 img{
    margin-top: 25%;
   }
   .foto3 img{
    margin-top: 25%;
   }
  
  }
